* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", sans-serif, Verdana;
  background-color: white;
}

/* HEADER */
header {
  width: 100%;
  height: 584px;
  background-image: url(./bridge-jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1px;
  text-align: center;
  font-size: 53px;
  color: magenta;
  font-weight: 800;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: blue;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: blue;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: magenta;
  text-shadow: 1px 1px 1px gray;
}

h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  color: blue;
}

@media only screen and (min-width: 769px) {
  h5 {
    font-size: 20px;
    margin-top: 135px;
  }
}

#headerCamera {
  padding-top: 251px;
  width: 100%;
  height: 431px;
  background: transparent;
  margin: auto;
}

.headerCamera {
  width: 332px;
  height: 175px;
  background-color: magenta;
  border-radius: 8px;
  box-shadow: 0 10px 15px -13px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.lens2 {
  width: 127px;
  height: 127px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.inner-lens {
  width: 95px;
  height: 95px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.inner-lens-2 {
  width: 8px;
  height: 8px;
  border-top: 10px solid black;
  border-right: 10px solid dimgray;
  border-bottom: 10px solid gray;
  border-left: 10px solid lightgray;
  border-radius: 50%;
}
/*Lens animation
@media only screen and (min-width: 769px) {
  .inner-lens-2 {
    animation: 2.5s inner-lens-animation linear infinite;
  }
}

@keyframes inner-lens-animation {
  0% {
    width: 8px;
    height: 8px;
    border-top: 10px solid black;
    border-right: 10px solid dimgray;
    border-bottom: 10px solid gray;
    border-left: 10px solid lightgray;
    border-radius: 50%;
  }

  50% {
    width: 8px;
    height: 8px;
    border-top: 10px solid black;
    border-right: 10px solid dimgray;
    border-bottom: 10px solid gray;
    border-left: 10px solid lightgray;
    border-radius: 50%;
  }

  55% {
    width: 8px;
    height: 8px;
    border-top: 35px solid black;
    border-right: 35px solid dimgray;
    border-bottom: 35px solid gray;
    border-left: 35px solid lightgray;
    border-radius: 50%;
  }

  59% {
    width: 8px;
    height: 8px;
    border-top: 10px solid black;
    border-right: 10px solid dimgray;
    border-bottom: 10px solid gray;
    border-left: 10px solid lightgray;
    border-radius: 50%;
  }

  100% {
    width: 8px;
    height: 8px;
    border-top: 10px solid black;
    border-right: 10px solid dimgray;
    border-bottom: 10px solid gray;
    border-left: 10px solid lightgray;
    border-radius: 50%;
  }
}
*/

.flash {
  position: absolute;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: 10px solid magenta;
  background-color: white;
  left: 117px;
  top: -29px;
  animation: 2.5s flash-animation linear infinite;
}

@keyframes flash-animation {
  0% {
    background-color: magenta;
    top: -12px;
  }

  35% {
    background-color: magenta;
    top: -12px;
  }

  50% {
    background-color: white;
    top: -29px;
  }

  59% {
    background-color: white;
    top: -29px;
  }

  60% {
    background-color: magenta;
    top: -29px;
  }

  75% {
    background-color: magenta;
    top: -12px;
  }

  100% {
    background-color: magenta;
    top: -12px;
  }
}

.camera-button1 {
  position: absolute;
  width: 35px;
  height: 10px;
  background-color: cyan;
  border-radius: 5px 5px 0 0;
  left: 35px;
  top: -9px;
}

.camera-button2 {
  position: absolute;
  width: 35px;
  height: 10px;
  background-color: cyan;
  border-radius: 5px 5px 0 0;
  right: 35px;
  top: -9px;
}

.flash-light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  background-color: white;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 white;
  animation: 2.5s flash-light-animation linear infinite;
}

@keyframes flash-light-animation {
  0% {
    box-shadow: 0 0 0 0 magenta;
  }

  50% {
    box-shadow: 0 0 0 0 magenta;
  }

  51% {
    box-shadow: 0 0 0 0 white;
  }

  55% {
    box-shadow: 0 0 150px 150px white;
  }

  59% {
    box-shadow: 0 0 0 0 white;
  }

  60% {
    box-shadow: 0 0 0 0 magenta;
  }

  100% {
    box-shadow: 0 0 0 0 magenta;
  }
}

#title {
  margin-top: 1px;
  width: 100%;
  height: 90px;
  font-weight: 800;
  background: transparent;
}

#animated-title {
  font-weight: 800;
  font-size: 71px;
  animation: 2.5s titleAnimation linear infinite;
}

@keyframes titleAnimation {
  0% {
    color: transparent;
  }

  35% {
    color: transparent;
  }

  36% {
    color: magenta;
  }

  70% {
    color: magenta;
  }

  71% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}
